{
  "version": "0.0.0",
  "name": "restaurant-frontend",
  "dependencies": {
    "@eslint/js": {
      "version": "9.35.0",
      "resolved": "https://registry.npmjs.org/@eslint/js/-/js-9.35.0.tgz",
      "overridden": false
    },
    "@tailwindcss/postcss": {
      "version": "4.1.13",
      "resolved": "https://registry.npmjs.org/@tailwindcss/postcss/-/postcss-4.1.13.tgz",
      "overridden": false
    },
    "@types/react-dom": {
      "version": "18.3.7",
      "resolved": "https://registry.npmjs.org/@types/react-dom/-/react-dom-18.3.7.tgz",
      "overridden": false
    },
    "@types/react": {
      "version": "18.3.24",
      "resolved": "https://registry.npmjs.org/@types/react/-/react-18.3.24.tgz",
      "overridden": false
    },
    "@vitejs/plugin-react": {
      "version": "5.0.2",
      "resolved": "https://registry.npmjs.org/@vitejs/plugin-react/-/plugin-react-5.0.2.tgz",
      "overridden": false
    },
    "antd": {
      "version": "5.27.3",
      "resolved": "https://registry.npmjs.org/antd/-/antd-5.27.3.tgz",
      "overridden": false
    },
    "autoprefixer": {
      "version": "10.4.21",
      "resolved": "https://registry.npmjs.org/autoprefixer/-/autoprefixer-10.4.21.tgz",
      "overridden": false
    },
    "axios": {
      "version": "1.11.0",
      "resolved": "https://registry.npmjs.org/axios/-/axios-1.11.0.tgz",
      "overridden": false
    },
    "bootstrap": {
      "version": "5.3.8",
      "resolved": "https://registry.npmjs.org/bootstrap/-/bootstrap-5.3.8.tgz",
      "overridden": false
    },
    "chart.js": {
      "version": "4.5.0",
      "resolved": "https://registry.npmjs.org/chart.js/-/chart.js-4.5.0.tgz",
      "overridden": false
    },
    "eslint-plugin-react-hooks": {
      "version": "5.2.0",
      "resolved": "https://registry.npmjs.org/eslint-plugin-react-hooks/-/eslint-plugin-react-hooks-5.2.0.tgz",
      "overridden": false
    },
    "eslint-plugin-react-refresh": {
      "version": "0.4.20",
      "resolved": "https://registry.npmjs.org/eslint-plugin-react-refresh/-/eslint-plugin-react-refresh-0.4.20.tgz",
      "overridden": false
    },
    "eslint": {
      "version": "9.35.0",
      "resolved": "https://registry.npmjs.org/eslint/-/eslint-9.35.0.tgz",
      "overridden": false
    },
    "firebase": {
      "version": "12.2.1",
      "resolved": "https://registry.npmjs.org/firebase/-/firebase-12.2.1.tgz",
      "overridden": false
    },
    "framer-motion": {
      "version": "12.23.12",
      "resolved": "https://registry.npmjs.org/framer-motion/-/framer-motion-12.23.12.tgz",
      "overridden": false
    },
    "globals": {
      "version": "16.3.0",
      "resolved": "https://registry.npmjs.org/globals/-/globals-16.3.0.tgz",
      "overridden": false
    },
    "lucide-react": {
      "version": "0.544.0",
      "resolved": "https://registry.npmjs.org/lucide-react/-/lucide-react-0.544.0.tgz",
      "overridden": false
    },
    "mdb-react-ui-kit": {
      "version": "9.0.0",
      "resolved": "https://registry.npmjs.org/mdb-react-ui-kit/-/mdb-react-ui-kit-9.0.0.tgz",
      "overridden": false
    },
    "postcss": {
      "version": "8.5.6",
      "resolved": "https://registry.npmjs.org/postcss/-/postcss-8.5.6.tgz",
      "overridden": false
    },
    "react-chartjs-2": {
      "version": "5.3.0",
      "resolved": "https://registry.npmjs.org/react-chartjs-2/-/react-chartjs-2-5.3.0.tgz",
      "overridden": false
    },
    "react-dom": {
      "version": "18.3.1",
      "resolved": "https://registry.npmjs.org/react-dom/-/react-dom-18.3.1.tgz",
      "overridden": false
    },
    "react-icons": {
      "version": "5.5.0",
      "resolved": "https://registry.npmjs.org/react-icons/-/react-icons-5.5.0.tgz",
      "overridden": false
    },
    "react-router-dom": {
      "version": "7.8.2",
      "resolved": "https://registry.npmjs.org/react-router-dom/-/react-router-dom-7.8.2.tgz",
      "overridden": false
    },
    "react": {
      "version": "18.3.1",
      "resolved": "https://registry.npmjs.org/react/-/react-18.3.1.tgz",
      "overridden": false
    },
    "tailwindcss": {
      "version": "4.1.13",
      "resolved": "https://registry.npmjs.org/tailwindcss/-/tailwindcss-4.1.13.tgz",
      "overridden": false
    },
    "vite-plugin-eslint": {
      "version": "1.8.1",
      "resolved": "https://registry.npmjs.org/vite-plugin-eslint/-/vite-plugin-eslint-1.8.1.tgz",
      "overridden": false
    },
    "vite": {
      "version": "7.1.4",
      "resolved": "https://registry.npmjs.org/vite/-/vite-7.1.4.tgz",
      "overridden": false
    }
  }
}
